## Partitioning

In [4]:
import pandas as pd

dataset = pd.read_csv('Dataset\Brain Tumor.csv')
dataset["Class"] = dataset["Class"].astype("category")
dataset = dataset.drop(["Image"],axis=1)

dataset.head()

,Class,Mean,Variance,Standard Deviation,Entropy,Skewness,Kurtosis,Contrast,Energy,ASM,Homogeneity,Dissimilarity,Correlation,Coarseness
0,0,6.535339,619.587845,24.891522,0.109059,4.276477,18.900575,98.613971,0.293314,0.086033,0.530941,4.473346,0.981939,7.458341e-155
1,0,8.749969,805.957634,28.389393,0.266538,3.718116,14.464618,63.858816,0.475051,0.225674,0.651352,3.220072,0.988834,7.458341e-155
2,1,7.341095,1143.808219,33.820234,0.001467,5.061750,26.479563,81.867206,0.031917,0.001019,0.268275,5.981800,0.978014,7.458341e-155
3,1,5.958145,959.711985,30.979219,0.001477,5.677977,33.428845,151.229741,0.032024,0.001026,0.243851,7.700919,0.964189,7.458341e-155
4,0,7.315231,729.540579,27.010009,0.146761,4.283221,19.079108,174.988756,0.343849,0.118232,0.501140,6.834689,0.972789,7.458341e-155

### Splitting the dataset

In [21]:
from sklearn.model_selection import train_test_split

X = dataset.drop(["Class"],axis=1)
y = dataset["Class"]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, stratify=y)

print("Dataset:\n\t-Negative", round((y.value_counts()[0]/y.shape[0]) * 100, 2), 
      "%\n\t-Positive", round((y.value_counts()[1]/y.shape[0]) * 100, 2), "%")
print("Train data:\n\t- Negative", round((y_train.value_counts()[0] / y_train.shape[0]) * 100, 2), 
      "%\n\t- Positive", round((y_train.value_counts()[1] / y_train.shape[0]) * 100, 2), "%")

Dataset:
	-Negative 55.26 %
	-Positive 44.74 %
Train data:
	- Negative 55.27 %
	- Positive 44.73 %

## Implementazione _modello 1_

## Implementazione _modello 2_

## Implementazione _modello 3_